<% if @team.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @team.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container jumbo-form">
  <div class="jumbotron">
    <div class="form">
      <h2>Create Team</h2>
      <br />
      <%= form_for @team, url: "/teams", method: :post do |f| %>

        <br />
        <%= f.label :name %>:
        <%= f.text_field :name, class: 'form-control input_field' %><br />

        <div class="login">
          <br />
          <div class="actions">
            <%= f.submit "Create Team", class: "btn btn-info btn-md" %>
            <%= link_to 'Back', :back %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
