<div class="container jumbo-form">
  <div class="jumbotron">
    <div class="form">
      <h2>Sign Up</h2>
      <br /><br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: { multipart: true })) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, class: 'form-control input_field', autofocus: true, placeholder: "Email" %>
          <br /><br />

          <%= f.text_field :username, class: 'form-control input_field', placeholder: "Username" %>
          <br /><br />

          <%= f.file_field :avatar, class: 'form-control input_field', placeholder: "Profile Picture" %>
          <br /><br />

          <%= f.password_field :password, autocomplete: "off", class: 'form-control input_field', placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
          <br /><br />

          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input_field', placeholder: "Confirm Password" %>
          <br>
          <div class="login">
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-info btn-md" %>
            </div>
              Already have an account? <a href="/login">Log In</a>.
          </div>
      <% end %>
    </div>
  </div>
</div>
