
<div class="main">
  <div id="app">
    <div class="add-chat">
      <%= form_for @chat, url: "/chats", method: :post do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "Create Chat", class: "btn btn-large btn-primary"%>
      <% end %>
    </div>
    <h5>Friends</h5>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="glyphicons glyphicons-headphones"></span>
    <button v-on:click="addFriendToggle()">Add Friend</button>

    <div id="friends-form">
      <%= render "relationships/form", purpose: "Create", url: "/relationships", verb: :post %>
    </div>
      <ul>
        <% @friends.each do |friend| %>
          <li><%= friend.friend.username %></li>
        <% end %>
      </ul>
    <div class="listings_direct-messages">
      <h5>Friend Requests</h5>
      <ul class="channel_list">
        <% @friend_requests.each do |friend_request| %>
          <li>
            <%= friend_request.befriender.username %> |
            <%= link_to "Accept", "/friends/decision/#{friend_request.id}", method: :patch %>
            <%= link_to "Decline", "/friends/#{friend_request.id}", method: :delete %>
          </li>
        <% end %>
      </ul>
      <h5>Channels</h5>
      <ul>
        <% @chats.each do |chat| %>
          <li><%= link_to chat.name, "/chats/#{chat.id}", method: :get%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
