<div class="alert-wrapper">
</div>

<div class="main">

    Friends
    <i class="fa fa-plus fa-friend-plus" v-on:click="addFriendToggle()" aria-hidden="true"></i>
    <i class="fa fa-minus fa-friend-minus" v-on:click="addToggle()" aria-hidden="true"></i>

    <div id="friends-form">
      <%= render "relationships/form", purpose: "Create", url: "/relationships", verb: :post %>
    </div>

      <ul>
        <% @friends.each do |friend| %>
          <li><%= friend.friend.username %></li>
        <% end %>
      </ul>
    <div class="listings_direct-messages">

      Channels

      <i class="fa fa-plus chat-form-plus" v-on:click="chatFormShow()" aria-hidden="true"></i>
      <i class="fa fa-minus chat-form-minus" v-on:click="chatFormHide()" aria-hidden="true"></i>

      <div class="add-chat">
        <%= form_for @chat, url: "/chats", method: :post do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "Create Chat", class: "btn btn-sm btn-info"%>
        <% end %>
      </div>
      <ul>
        <% @chats.each do |chat| %>
          <li><%= link_to chat.name, "/chats/#{chat.id}", class:'channel-link', method: :get%> <%= link_to "Delete", "/chats/#{chat.id}", class: 'channel-link-delete', method: :delete  %></li>
        <% end %>
      </ul>

      Friend Requests
      <ul class="channel_list">
        <% @friend_requests.each do |friend_request| %>
          <li>
            <%= friend_request.befriender.username %> |
            <%= link_to "Accept", "/friends/decision/#{friend_request.id}", method: :patch %>
            <%= link_to "Decline", "/friends/#{friend_request.id}", class:'channel-link-delete', method: :delete %>
          </li>
        <% end %>
      </ul>
      Add people to chat
      <i class="fa fa-plus add-people-plus" v-on:click="addPeopleChatFormShow()" aria-hidden="true"></i>
      <i class="fa fa-minus add-people-minus" v-on:click="removePeopleChatFormHide" aria-hidden="true"></i>
      <div class="add-form">
        <%= render "add_form", purpose: "Add", url: "/user_chats", verb: :post %>
      </div>
      <h4>Remove people from chat</h4>
      <%= render "remove_form", purpose: "Delete", url: "/user_chats", verb: :delete %>
    </div>
</div>

<%= link_to "Delete Chat Room", "/chats/#{params[:id]}", method: :delete  %>

<div class="container chat-container">
  <div id="message-wr">
      <% @chat_messages.each do |message| %>
          <div id="message-content">
            <%= message.user.username %>: <%= message.content %>
          </div>
      <% end %>
  </div>
</div>

  <div class="message-input">
    <%= form_for(@chat_message, remote: true) do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.text_area :content %>

      <%= f.submit "send", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
