<%= include_gon %>
<div id="message-wr">
    <% @chat_messages.each do |message| %>
        <div id="message-content">
          <%= message.user.username %>: <%= message.content %>
        </div>
    <% end %>
</div>

<input type="hidden" id="message_chat_id" name="hi" value="<%= @chat.id %>">

<div class="message-input">
  <%= form_for(@chat_message, remote: true) do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :chat_id, value: @chat.id %>
    <%= f.text_area :content %>

    <%= f.submit "send", class: "btn btn-large btn-primary"%>
  <% end %>
</div>
