<div class="container jumbo-form">
  <div class="jumbotron">
    <div class="form">
      <h2>Log In</h2>
      <br /><br />
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, class: 'form-control input_field', autofocus: true, placeholder: "Email" %>
          <br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control input_field', placeholder: "Password" %>
        <br />
        <div class="login">
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          <% end -%>
          <br /><br />
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-info btn-md" %>
          </div>

          <!-- Forgot your password? <a href="/users/password/new">Reset</a>.
          <br> -->
          Don't have an account? <a href="/signup">Sign Up</a>.
        </div>
      <% end %>
    </div>
  </div>
</div>
