<% if @post.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @post.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container jumbo-form">
  <div class="jumbotron">
    <div class="form">
      <h2>Create Post</h2>
      <br />
        <%= form_for @post, url: "/post", method: :post, html: { multipart: true } do |f| %>

          <%= f.label :tags %>:
          <%= fields_for :tags do |f| %>
             <%= f.text_field :title, class: 'form-control input_field' %>
          <% end %>
          
          <br />
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label :title %>:
          <%= f.text_field :title, class: 'form-control input_field' %><br />

          <%= f.label :content %>:
          <%= f.text_area :content, class: "message-edit-area", id: 'message-edit-area' %><br />

          <%= f.file_field :post_image %>


        <div class="login">
          <br />
          <div class="actions">
            <%= f.submit "Create Post", class: "btn btn-info btn-md" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
