

<%= form_tag("/", :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
  <%= submit_tag "Search" %>
<% end %>


<% @posts.each do |post| %>
<div id="posts_wrapper" class="skinny-wrapper">
  <div class="post">

    <p class="date">
      <span class="username"><%= post.user.username.upcase %></span>
      <br />
      <% if post.comments.last %>
        <%= post.comments.last.created_at %>
      <% else %>
        <%= post.created_at %>
      <% end %>
    </p>

    <h1 class="title_link"><%= link_to post.title, "/post/#{post.id}", method: :get%></h1>
      <!-- <h5 class="content"><%= post.content %></h5> -->

    <p class="views">
      Views:
      <%= post.visit_count %>
      Comments:
      <%= post.comments.count %>
    </p>
  </div>
  <hr>
</div>
<% end %>
