<div class="header">
  <br />
  <logo>Articles</logo>
  <hr>
</div>

<div class="post-search-wrapper">
    <div class="new-post">
      <%= link_to "Create Article", "/posts/new",class:'btn btn-sm btn-info', method: :get %>
    </div>
  <div id="post-search">
    <%= render "search", purpose: "Search", url: "/", verb: :get %>
  </div>
</div>

<% @posts.each do |post| %>
  <div id="posts_wrapper" class="skinny-wrapper">
    <hr>
    <div class="post">
      <p class="date">
        <span class="username"><%= post.user.username.upcase %></span>
        <br />
        <% if post.comments.last %>
          <%= local_time(post.comments.last.created_at, "%A, %d %b %Y") %>
          <%= local_time(post.comments.last.created_at, "%l:%M %p") %>
        <% else %>
          <%= local_time(post.created_at, "%A, %d %b %Y") %>
          <%= local_time(post.created_at, "%l:%M %p") %>
        <% end %>
      </p>
      <h1 class="title_link"><%= link_to post.title, "/post/#{post.id}", method: :get %></h1>
      <p class="views">
        Views:
        <%= post.visit_count %>
        Comments:
        <%= post.comments.count %>
      </p>
    </div>
  </div>
<% end %>
