<div class="header">
  Articles
  <hr>
</div>

<div class="post-search-wrapper">
  <div id="post-search">
    <%= form_tag("/", :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "search"%>
      <%= submit_tag "Search", class: 'btn btn-sm btn-info' %>
    <% end %>
  </div>
</div>

<% @posts.each do |post| %>
<div id="posts_wrapper" class="skinny-wrapper">

  <hr>
  <div class="post">

    <p class="date">
      <span class="username"><%= post.user.username.upcase %></span>
      <br />
      <% if post.comments.last %>
        <%= local_time(post.comments.last.created_at, "%A, %d %b %Y") %>
        <%= local_time(post.comments.last.created_at, "%l:%M %p") %>
      <% else %>
        <%= local_time(post.created_at, "%A, %d %b %Y") %>
        <%= local_time(post.created_at, "%l:%M %p") %>
      <% end %>
    </p>



    <h1 class="title_link"><%= link_to post.title, "/post/#{post.id}", method: :get %></h1>
      <!-- <h5 class="content"><%= post.content %></h5> -->

    <p class="views">
      Views:
      <%= post.visit_count %>
      Comments:
      <%= post.comments.count %>
    </p>
  </div>

</div>
<% end %>
