<div id="app">
  <div class="error-wrapper">
    <div class="alert alert-danger" v-for="error in errors">
      <p class="alert-message">
        {{ error }}
      </p>
    </div>
  </div>

  <div class="post-header">
    <%= @post.title %>
    <br />
    <div class="post-info">
      Views: <%= @post.visit_count %>
      <br />
      <% if @post.comments.last %>
        <%= local_time(@post.comments.last.created_at, "%A, %d %b %Y") %>
        <%= local_time(@post.comments.last.created_at, "%l:%M %p") %>
      <% else %>
        <%= local_time(@post.created_at, "%A, %d %b %Y") %>
        <%= local_time(@post.created_at, "%l:%M %p") %>
      <% end %>
      <br />
      <% if @post.tags.first %>
        Tags:
        <% @post.tags.each do |tag| %>
          <%= tag.title %>
        <% end %>
      <% end %>
    </div>
    <hr>
  </div>

  <div class="container post-info-wrapper">
    <div class="post-container">
      <% if @post.post_image.url != "/images/original/missing.png" %>
        <%= image_tag @post.post_image.url %>
      <% end %>
      <div class="username">
        <%= @post.user.username %>
      </div>
      <br />
      <%= @post.content %>

        <% if current_user && current_user == @post.user || current_user && current_user.admin %>
          <%= link_to "Edit", "/post/#{@post.id}/edit", method: :get %>
          <%= link_to "Delete", "/post/#{@post.id}",class:'post-link-delete', method: :delete %>
        <% end %>
      </div>
  </div>


    <div class="container post-info-wrapper" id="post-wrapper" v-for="comment in post_comments">
      <hr>

      <div class="comment-container">
        <div class="user">
          {{ comment.username }}
        </div>

          <div class="comment-content" v-if="comment.commentVisible === false">
              {{ comment.content }}
          </div>

          <div class="comment-delete" v-if="comment.user_id == current_user_id && comment.commentVisible === false">
            <a v-on:click="editToggle(comment)" class="edit-button">Edit</a>
            <a v-on:click="deleteComment(comment)" class="edit-button post-link-delete">Delete</a>
          </div>

          <transition name="fade">
            <div class="edit" v-if="comment.commentVisible">
              <textarea class="message-edit-area" id="text-area">{{ comment.content }}</textarea>
              <a v-on:click="editToggle(comment);updateComment(comment)" class="edit-button">Update</a>
              <a v-on:click="editToggle(comment)" class="edit-button">Cancel</a>
            </div>
          </transition>
      </div>
    </div>

  <div class="container comment-input-wrapper">
    <% if current_user %>
      <textarea v-model="content" id="message_area"></textarea>
      <button v-on:click="addComment()" class="btn btn-sm btn-info">Comment</button>
      <%= link_to "Back", "/", method: :get %>
    <% end %>
  </div>
</div>
